body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  max-width: 1366px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
button {
  border: none;
  background: rgba(0,0,0,0);
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}
img {
  width: 100%;
  height: auto;
}
* {
  margin: 0;
  padding: 0;
}
